@model mymvc.Models.User
@{  
    ViewData["Title"]="Reset Password";  
}  
  
<h2>Reset Password</h2>  
<h3>Reset your password</h3>
<hr>  
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(false, "")
        @Html.HiddenFor(md => md.UserId)

        <div class="form-group">
            @Html.LabelFor(md => md.Password)
            <div class="col-md-10">
                @Html.PasswordFor(md => md.Password)
                @Html.ValidationMessageFor(md => md.Password, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(md => md.ConfirmPassword)
            <div class="col-md-10">
                @Html.PasswordFor(md => md.ConfirmPassword)
                @Html.ValidationMessageFor(md => md.ConfirmPassword, "")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<h3 style="color:green">User Details</h3>
<h4 style="color:green">
    <b>Email: @ViewBag.Email<br />
    <b>Password: @ViewBag.Password<br />
</h4>
